.translate-button {
  --duration: 4000;
  --success: #16bf78;
  --grey-light: #99a3ba;
  --grey: #6c7486;
  --grey-dark: #3f4656;
  --light: #cdd9ed;
  --shadow: rgba(18, 22, 33, 0.6);
  --shadow-dark: rgba(18, 22, 33, 0.85);
  background-color: #007bff; /* اللون الأساسي */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
  perspective: 500px;
}

.translate-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.75s;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.translate-button:disabled {
  background-color: #cccccc; /* اللون عندما يكون الزر غير مفعل */
  cursor: not-allowed;
}

.translate-button:hover:not(:disabled) {
  background-color: #0056b3; /* لون عند التمرير عندما يكون مفعل */
}

.translate-button:active::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}

.translate-button.active {
  animation: button var(--duration) linear forwards;
}

.translate-button.done {
  --color: var(--success);
}

@keyframes button {
  0% {
    transform: translateX(0) translateZ(0) scale(1) rotateY(0deg);
  }
  10% {
    transform: translateX(0) translateZ(0) scale(0.96) rotateY(0deg);
    box-shadow: 0 4px 8px var(--shadow-dark);
  }
  20% {
    transform: translateX(-16px) translateZ(32px) scale(1) rotateY(-16deg);
    box-shadow: 4px 12px 20px var(--shadow-dark);
  }
  85% {
    transform: translateX(16px) translateZ(32px) scale(1) rotateY(16deg);
    box-shadow: -4px 12px 20px var(--shadow-dark);
  }
  95% {
    transform: translateX(0) translateZ(0) scale(1.12) rotateY(0deg);
    box-shadow: 0 8px 24px var(--shadow-dark);
  }
  100% {
    transform: translateX(0) translateZ(0) scale(1) rotateY(0deg);
  }
}

@keyframes arrow {
  38% {
    transform: translateY(100%);
    opacity: 1;
  }
  39% {
    transform: translateY(100%);
    opacity: 0;
  }
  40% {
    transform: translateY(-100%);
    opacity: 0;
  }
  41% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-1px);
    opacity: 1;
  }
}

@keyframes span {
  25% {
    transform: translateY(2px) scale(var(--s));
  }
  55% {
    transform: translateY(2px) scale(var(--s));
  }
  80%,
  100% {
    transform: translateY(0) scale(var(--s));
  }
}

@keyframes motion {
  20%,
  70% {
    filter: blur(0.4px);
  }
}
